{% extends 'base.html' %}

{% block title %}详情{% endblock %}

{% block head %}
    <script src="../static/js/jquery.autosize.min.js"></script>
    <link rel="stylesheet" href="../static/css/detail.css">
    <script src="../static/js/detail.js"></script>
{% endblock %}

{% block main %}
    <div class="top">
        <div class="question">
            <div class="question-t">
                <div class="username">{{question.author.username}}</div>
            </div>
            <div class="question-m">
                <h1 class="question-title">{{question.title}}</h1>
                <p class="question-context">{{question.context}}</p>
            </div>
            <div class="question-b">
                <p class="time">发表于 {{question.creat_time}}</p>
            </div>
        </div>
    </div>

    <div class="main">
        <div class="all"><p>全部{{question.answers|length}}个回答</p></div>

        {% for answer in question.answers %}}
        <div class="answer">
            <div class="answer-t">
                <div class="username">{{answer.author.username}}</div>
            </div>
            <div class="answer-m">
                <p class="question-context">{{answer.context}}</p>
            </div>
            <div class="answer-b">
                <p class="time">发表于 {{answer.creat_time}}</p>
            </div>
        </div>

        {% endfor %}}
    </div>

    <div class="submit">
        <div class="submit-t">
                <div class="username">{{user.username}}</div>
        </div>
        <textarea name="" id="" cols="30" rows="10" placeholder="写回答..."></textarea>
        <p class="warning"></p>
        <button class="my-button">提交回答</button>

    </div>
{% endblock %}